@using Employee.Entities;
@model Child

@{
    Layout = null;
}

<div class="content-body">
    <section>
        <div class="row ">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <label asp-for="FirstName"  class="control-label"></label>
                                        <input asp-for="FirstName" disabled type="text" class="form-control" />

                                        <label asp-for="LastName" class="control-label"></label>
                                        <input asp-for="LastName" disabled type="text" class="form-control" />

                                        <label asp-for="NationalCode" class="control-label"></label>
                                        <input asp-for="NationalCode" disabled type="text" class="form-control" />


                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <a href="@Url.Action("ConfirmationDelete","Child",new{id=Model.Id})" class="btn btn-danger btn-block">حذف</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
